<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring2go.system.mapper.SysMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.spring2go.system.entity.SysMenu">
        <id column="menu_id" property="menuId"/>
        <result column="menu_name" property="menuName"/>
        <result column="perms" property="perms"/>
        <result column="path" property="path"/>
        <result column="parent_id" property="parentId"/>
        <result column="icon" property="icon"/>
        <result column="order_num" property="orderNum"/>
        <result column="menu_type" property="menuType"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="del_flag" property="delFlag"/>
    </resultMap>

    <!--通过角色查询菜单信息-->
    <select id="listMenusByRoleName" resultMap="BaseResultMap">
		SELECT
			m.*
		FROM
			sys_menu m
		LEFT JOIN sys_role_menu rm ON m.menu_id = rm.menu_id
        LEFT JOIN sys_role r ON r.role_id = rm.role_id
		WHERE
            m.del_flag = 0 AND r.del_flag = 0
		AND r.role_name = #{roleName}
		ORDER BY
			m.order_num DESC
    </select>
</mapper> 