<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring2go.system.mapper.SysUserMapper">
    <!-- userInfo结果集 -->
    <resultMap id="userInfo" type="com.spring2go.system.vo.UserInfo">
        <id column="user_id" property="userId"/>
        <result column="user_name" property="userName"/>
        <result column="nick_name" property="nickName"/>
        <result column="password" property="password"/>
        <result column="salt" property="salt"/>
        <result column="phone" property="phone"/>
        <result column="avatar" property="avatar"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="del_flag" property="delFlag"/>
        <result column="deptId" property="deptId"/>
        <result column="deptName" property="deptName"/>
    </resultMap>

    <select id="getUserInfoById" resultMap="userInfo">
        SELECT
        *
        FROM
        sys_user AS `user`
        WHERE
        `user`.user_id = #{id}
    </select>

    <select id="getUserWithRolePage" resultMap="userInfo">
        SELECT
        `user`.user_id,
        `user`.user_name,
        `user`.nick_name,
        `user`.phone,
        `user`.avatar,
        `user`.dept_id,
        `user`.create_time,
        `user`.update_time,
        `user`.del_flag,
        `user`.status,
        d.dept_name AS deptName
        FROM
        sys_user AS `user`
        LEFT JOIN sys_dept AS d ON d.dept_id = `user`.dept_id
        <where>
            `user`.del_flag = '0'
            <if test="query.userName != null and query.userName != ''">
                and `user`.user_name LIKE CONCAT('%',#{query.userName},'%')
            </if>
            <if test="query.status != null and query.status != ''">
                AND `user`.status = #{query.status}
            </if>
            <if test="query.phone != null and query.phone != ''">
                AND `user`.phone like concat('%', #{query.phone}, '%')
            </if>
            <if test="query.beginTime != null and query.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(`user`.create_time,'%y%m%d') &gt;= date_format(#{query.beginTime},'%y%m%d')
            </if>
            <if test="query.endTime != null and query.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(`user`.create_time,'%y%m%d') &lt;= date_format(#{query.endTime},'%y%m%d')
            </if>
            <if test="query.deptId != null and query.deptId != 0">
                AND (`user`.dept_id = #{query.deptId} OR `user`.dept_id IN ( SELECT t.dept_id FROM sys_dept t WHERE find_in_set(#{query.deptId}, ancestors) ))
            </if>
        </where>
        ORDER BY `user`.create_time DESC
    </select>
</mapper>